<div id="dashboard-view">
  <div class="row dashboard-nav col-md-offset-2 text-center">
    <div class="col-md-8">
      <button ng-click="showForm = !showForm" class="dash-btn btn btn-lg btn-success">Add Child</button>
      <div ng-show="showForm">
        <form>
          <label>Name</label>
          <input type="text" class="form-control">
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="" alt="...">
        <div class="caption">
          <h3 class="text-center text-info">Monday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div> -->
    </div> 
</div>
