<section id="problem">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-heading">
          Problem. Kids don't go outside anymore...
        </h1>
        <hr class="light"/>
        <p class="text-faded">
          Kids stay inside and play video games without being active.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="solution">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-heading">
          Solution.
        </h1>
        <hr class="light"/>
        <p class="text-faded">
          Tracktivity! We encourage familiy oriented activity.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="tracktivity">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="stand-out">
          TRACKTIVITY.
        </h1>
        <hr class="light"/>
        <a href="/register" class="btn btn-primary btn-xl">Join now!</a>
      </div>
    </div>
  </div>
</section>