<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      <img id="brand" src="http://photos-images.active.com/file/3/1/original/7dd9896c-2b6b-484d-b9f3-c791416ac757.jpg">
      </a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="login-page">
<div class="container">
  <div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login-panel">
          <h3 class="text-center">Sign in with Facebook</h3>
          <button class="btn btn-default facebook-button"><i class="fa fa-facebook-square"></i></button>
          <h3 class="text-center">Or Sign In With Email:</h3>
          <label class="margin-top col-md-offset-2"><i class="margin-right glyphicon glyphicon-envelope"></i>Email</label>
          <input class="form-control login col-md-offset-2" placeholder="email">
          <label class="margin-top col-md-offset-2"><i class="margin-right fa fa-unlock-alt"></i>Password</label>
          <input class="form-control login col-md-offset-2" placeholder="password">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
